kind: VSphereCluster
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
metadata:
  labels:
    cluster.x-k8s.io/cluster-name: {{ include "cluster-api-kamaji-vsphere.cluster-name" $ | quote }}
  name: {{ include "cluster-api-kamaji-vsphere.cluster-name" . }}
  namespace: {{ .Release.Namespace }}
spec:
  identityRef:
    kind: {{ .Values.vSphere.identityRef.type }}
    name: {{ .Values.vSphere.identityRef.name | quote }}
  server: {{ .Values.vSphere.server | quote }}
  thumbprint: {{ .Values.vSphere.tlsThumbprint | quote }}